/* 초기화 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input {
    border: none;
}
input:focus {
    outline: none;
}
textarea:focus {
    outline: none;
}
textarea {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
}
select {
    border: none;
}
select:focus {
    outline: none;
}

img { 
    border: 0; 
    object-fit: cover;
}

input[type="submit"]:hover, input[type="button"]:hover, button:hover{
    cursor: pointer;
}
[onclick]{
    cursor: pointer;
}

main {
    margin: 30px auto;
    width: 800px;
}

/* 아래부터 base.html css */

@font-face {
    font-family: 'Arita-dotum-Bold';
    src: url('./arita4.0_b.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arita-dotum-SemiBold';
    src: url('./arita4.0_sb.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arita-dotum-Medium';
    src: url('./arita4.0_m.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arita-dotum-Thin';
    src: url('./arita4.0_t.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Arita-dotum-Light';
    src: url('./arita4.0_l.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-color: #BD0000;
}

*{
    font-family: 'Arita-dotum-Medium';
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
}

a {
    text-decoration-line: none;
    color: black;
}

/* 네브바 전체 감싸는 컨테이너 */
.nav-container {
    display: flex;
    justify-content: center;
    min-width: 950px;
}

.nav-container > div {
    min-width: 860px;
    margin: 0px 300px;
    /* align-items: center; */
    width: 900px;
    height: 57.55px;
    background-color: white;
    /* box-shadow: 0 10px 10px -10px rgb(105 105 105); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}


.nav__item-container {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 640px;
}

/* 네브바 각 버튼 */
.nav__item {
    display: inline-block;
    font-size: 13px;
    font: white;
    padding: 20px;
    text-align: center;
    font-family: 'Arita-dotum-medium';
}

div.nav__item-wrapper > li.nav__item:nth-child(3) > a:hover{
    cursor: pointer;
}

/* 네브바 아이템 링크 */
.nav__item a{
    display: inline;
    color: black;
    text-decoration-line: none;
    position: inherit;
    /* font-size: 14px;*/
}

.yochef a {
    font-family: 'Arita-dotum-bold'!important;
    font-size: 20px;
    color: #BD0000;
    /* display: none; */
}

.nav__left-container {
    display: inline-flex;
    flex-direction: row-reverse;
    width: 13%;
    justify-content: start;
    min-width: 110px;
    /* align-items: center; */
}

.logo {
    width: 90px;
    height: 110px;
    padding: 5px 0px;
    /* display: none; */
}

.hidden {
    display: none;
}

.nav--right {
    padding-right: 0px;
    display: inline-block;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    min-width: 380px;
}

.nav--right>li {
    padding: 9px 20px;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
}

.nav--right img {
    width: 70px;
    height: 45px;
    object-fit: unset;
}

.customer-button-describe  {
    font-size: 10px;
    position: relative;
    top: -10px;
    padding-left: 9.5px;
    display: inline-block;
    color: #bd0000;
    font-family: 'Arita-dotum';
}

.customer-button-describe::before {
    content: "셰프 |";
    color: black;
    font-size: 10px;
    padding: 3px;
}

.chef-button-describe {
    font-size: 10px;
    position: relative;
    top: -10px;
    padding-left: 13px;
    display: inline-block;
    color: #bd0000;
    font-family: 'Arita-dotum';
}

.chef-button-describe::after {
    content: "| 손님";
    color: black;
    font-size: 10px;
    padding: 3px;
}

/* 셰프등록o 손님버전 버튼 좌우반전 */
#customer--button {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
  
    filter: FlipH;
    -ms-filter: "FlipH";
}

#footer {
    background-color: #e6e6e6;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
}

/* 카테고리 네브바 */
.main-category-container {
    margin: 0px;
    /* top: 70px; */
    /* left: 0px; */
    /* box-shadow: 5px 5px 10px -5px grey; */
    /* opacity: 50%; */
    display: flex;
    justify-content: center;
    min-width: 950px;
}

#octagon {
    background-color: #970000;
    padding: 18px;
}

/* 카테고리 네브바 아이템 컨테이너 */
.main-category-item-container {
    min-width: 805px;
    margin: 0px;
    /* padding: 15px 5px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    border-radius: 7px;
    font-family: 'Arita-dotum-Light';
    width: 805px;
    margin-bottom: 5px;
}
}

/* 카테고리 네브바 item */
.main-category-item {
    display: inline-block;
    padding: 0px;
    /* border-bottom: solid thin white;*/
}

/* 카테고리 네브바 item 링크*/
.main-category-item a {
    color: white;
    font-size: 13px;
    text-decoration-line: none;
}

/* 푸터 링크 컨테이너 */
.footer-link-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.contents {
    margin-bottom: 100px;
    min-width: 954px;
}

/* 푸터 컨테이너 */
.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px;
}

.footer-top {
    font-size: 20px;
    font-weight: 700;
}

.footer-item {
    padding: 10px;
    display: inline;
}

#footer-bottom {
    font-family: 'arita-dotum-medium';
    font-size: 15px;
    margin: 0px 220px;
    min-width: 600px;
    text-align: center;
}

@media screen and ( max-width: 1391px ) {
    #footer-bottom {
        font-family: 'arita-dotum-medium';
        font-size: 15px;
        margin: 0px 220px;
    }
}

@media screen and ( max-width: 1323px ) {
    #footer-bottom {
        font-family: 'arita-dotum-medium';
        font-size: 15px;
        margin: 0px 100px;
    }
}

@media screen and ( max-width: 1100px ) {
    #footer-bottom {
        font-family: 'arita-dotum-medium';
        font-size: 15px;
        margin: 0px 70px;
    }
}

@media screen and ( max-width: 1027px ) {
    #footer-bottom {
        font-family: 'arita-dotum-medium';
        font-size: 15px;
        margin: 0px 60px;
    }
}



.team-name {
    margin-top: 10px;
    margin-bottom: 20px;
}

.footer-copyright-part {
    display: inline-box;
    width: 100%;
    margin-top: 10px;
    font-weight: 200;
    padding: 10px 10px 10px 0px;
    /* background-color: #e6e6e6; */
    /* border-bottom: #868686 solid 0.5px; */
}

.footer-bottom-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer-bottom-link-item-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0px;
    padding: 0px;
}

.footer-bottom-link-item {
    display: inline;
    padding: 0px 10px 0px 0px;
    margin: 10px 5px 10px 0px;
    border-right: #868686 solid 0.5px;
}

.footer-bottom-link-item a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}



/* 쿠폰함 */
div.coupon_point_box {
    width: 300px;
    height: 350px;
    padding-bottom: 20px;
    background-color: white;
    position: absolute;
    z-index: 1;
    left: 56%;
    top: 5%;
    border-radius: 10px;
    border: 1px solid #e6e6e6;
    box-shadow: 1px 1px 5px #e6e6e6;
}

div.close{
    display: none;
}

div.open{
    display: block;
}

div.coupon_point_box > p {
    padding: 20px 50px;
    text-align: center;
    font-family: 'Arita-dotum-SemiBold' !important;
}

div.coupon_point_box > .box_tab {
    margin: 10px 0 0 0;
    font-size: 14px;
    display: flex;
}

div.coupon_point_box > .box_tab > div{
    font-family: 'Arita-dotum-SemiBold' !important;
    display: inline-block;
    padding: 0 19%;
    margin: auto;
    padding-bottom: 10px;
    border-bottom: #e6e6e6 solid 2px;
}

div.coupon_point_box > .box_tab > div:hover{
    cursor: pointer;
}

div.coupon_point_box > .box_tab > div.selected{
    border-bottom: var(--main-color) solid 3px;
}

div.coupon_box {
    overflow: scroll;
    padding: 0 30px;
    height: 270px;
}

/* 쿠폰 코드 관련 내용 */
/* div.coupon_box > form {
    margin: 35px 0 0 0;
    display: flex;
    justify-content: space-between;
}

div.coupon_box > form > input {
    padding: 4px 10px;
    background-color: #e6e6e6;
    border-radius: 5px;
    font-size: 11px;
    line-height: 15px;
}

div.coupon_box > form > input:nth-child(1){
    width: 150px;
    height: 18px;
}

div.coupon_box > form > input:nth-child(2){
    width: 60px;
    height: 24px;
    background-color: var(--main-color);
    color: white;
} */

div.coupon_box__detail {
    margin-top: 20px;
}

div.coupon_box__detail > p {
    font-size: 12px;
    font-family: 'Arita-dotum-SemiBold' !important;
    margin-bottom: 10px;
}

div.coupon_box__detail > p > span {
    color: var(--main-color);
}

div.coupon_box__detail > div {
    margin: 5px 0;
    padding: 7px 10px;
    border-radius: 10px;
    border: 2px solid #e6e6e6;
}

div.coupon_box__detail > div > p {
    font-size: 12px;
}

div.coupon_box__detail > div > div.coupon__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

div.coupon_box__detail > div > div.coupon__title > p{
    display: inline-block;
    margin: auto 0;
    font-size: 14px;
}

div.coupon_box__detail > div > div.coupon__title > p:nth-child(2) {
    display: inline;
    font-size: 10px;
}

div.coupon_box__detail > div > div.coupon__detail{
    display:flex;
    min-height: 30px;
    justify-content: space-between;
}

div.coupon_box__detail > div > div.coupon__detail > p:nth-child(1){
    font-size: 11px;
    line-height: 13px;
}

div.coupon_box__detail > div > div.coupon__detail > p:nth-child(2){
    font-size: 18px;
    color: var(--main-color);
    font-family: 'Arita-dotum-SemiBold' !important;
    min-width: 47px;
    margin: auto 10px;
    display: inline-block;
}

div.coupon_box__notice {
    font-size: 10px;
    top: 0;
    vertical-align: top;
    display: flex;
    flex-direction: column;
}

div.coupon_box__notice > div:nth-child(1) {
    padding: 10px 0;
    display: flex;
}

div.coupon_box__notice > div:nth-child(1) > span {
    margin-right: auto;
    display: inline-block;
    color: var(--main-color);
}

div.coupon_box__notice > div {
    padding: 5px 0 0 5px;
    display: flex;
}

div.coupon_box__notice > div >p {
    margin-left: auto;
    display: inline-block;
    width: 220px;
    line-height: 12px;
}

div.point_box {
    overflow: scroll;
    padding: 0 30px;
}

div.point_box > .point_box__detail {
    margin: 20px 0;
}

div.point_box__detail > p:nth-child(1) {
    font-size: 12px;
    font-family: 'Arita-dotum-SemiBold' !important;
}

div.point_box__detail > div.point_box__detial__notice{
    font-size: 11px;
    margin: 20px 0;
    border-radius: 10px;
    background-color: #e6e6e6;
    padding: 15px 18px;
    line-height: 14px;
}

div.point_box__detail > p > span {
    color: var(--main-color);
}