.hidden {
    display: none;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px 250px;
}

.schedule-detail-form {
    display: inherit;
    flex-direction: inherit;
    margin: 0px;
    padding: 0px;
}

.header-wrapper {
    border-bottom: 1px solid #E6E6E6;
    padding: 10px 0px;
    display: inline-block;
    width: 820px;
}

.header-wrapper h2 {
    font-family: 'Arita-dotum-medium';
    font-size: 25px;
    width: 789px;
}

.article-title {
    /* padding: 15px 0px 3px; */
}

section > [class*=-wrapper] {
    padding: 30px 0px 0px;
}

section > [class*=__wrapper] {
    padding: 30px 0px 0px;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 20px 0px;
}

.edit-content {
    width: 100%;
}

.input-wrapper {
    border: #E6E6E6 solid 0.5px;
    padding: 5px;
    margin: 6px 0px;
    border-radius: 5px;
    padding: 5px;
}

.image-input {
    padding: 0px;
}

/* 네브바 */
.edit-chef__nav {
    display: flex;
    flex-direction: column;
    width: 120px;
    margin-right: 70px;
}

.edit-chef__nav-item a {
    font-family: 'Arita-dotum-medium';
    font-size: 12px;
    display: inline-block;
    padding-bottom: 25px;
}

.edit-content {
    margin-top: 10px;
}

h4 {
    font-family: 'Arita-dotum-Medium';
}

article {
    margin: 0px 0px;
}

/* 저장 버튼 */
.button {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
}

.button > button {
    border: 0px;
    border-radius: 5px;
    outline: 0px;
    background-color: #bd0000;
    color: white;
    width: 80px;
    height: 30px;
    font-family: 'Arita-dotum-medium';
    font-size: 12px;
}