@font-face {
    font-family: '국립박물관문화재단클래식L';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식L.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
    font-family: 'Arita-dotum';
}

/* main.html 전체 */
.main-body {
    background-image: 'YoChef.png';
}

/* 메인페이지 가장 큰 사진 + 카테고리 네브바 */
.main-header {
    position: relative;
    min-width: 950px;
}

.main--center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main-image > div {
    background-image: url(main.css);
    background-color: black;
    width: 840px;
    height: 330px;
    display: inline-block;
    border-radius: 5px;
}

.main-image > div > img {
    opacity: 0.5;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.main-img-desc {
    position: absolute;
    /* left: 26%; */
    display: inline-block;
    color: white;
    font-size: 15px;
    font-weight: 100;
    writing-mode: tb-rl;
    padding: 70px 15px;
    text-shadow: rgb(92 92 92) 2px 2px 2px;
    z-index: 1;
    font-family: 국립박물관문화재단클래식L !important;
    margin-left: 120px;
}

.main-section-wrapper {
    width: 100%;
    min-width: 950px;
}

/* .main-section-wrapper {
    background-image: url("yochef.png");
    background-size: 24px;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    width: 20%; */
    /* padding: 30px 20px 0px 0px;
    margin-bottom: 130px;
    width: 32px;
    height: 30px;
} */

/* 최근 등록 메뉴 */
.recent-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 40px 250px;
}

.recent-menu__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px 0px;
    min-width: 950px;
}

.reccent-menu__header-wrapper {
    margin: 0px 200px;
}

.header--top {
    font-size: 29px;
    color: black;
    text-align: center;
    padding: 0px 100px;
    font-family: Arita-dotum-SemiBold;
}

.recent-menu__header div {
    font-size: 11px;
    color: #848484;
    padding: 5px;
    text-align: center;
    font-family: 'arita-dotum-medium';
}

.category__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.category__header > h3 {
    text-align: center;
    font-family: 'arita-dotum-medium';
    display: inline-block;
}

.buffet {
    width: 350px !important;
}

.category__header > div {
    display: inline-block;
    width: 388.500px;
    border-bottom: 1px solid rgb(189, 0, 0);
    padding: 0px 0px;
    margin: 7px 0px;
}

.category__header > h3::after,
.category__header > h3::before {
    content: "";
    font-size: 16px;
    background-color: rgb(189, 0, 0);
    border-radius: 50%;
    width: 5px;
    height: 5px;
    display: inline-block;
}

.category__header > h3::before {
    margin-right: 7px;
    margin-bottom: 2px;
}

.category__header > h3::after {
    margin-left: 8px;
    margin-bottom: 2px;
}

.menu__item-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.menu__item > img  {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    box-shadow: rgb(88 88 88 / 80%) 0px 3px 4px;
}

.menu__item {
    padding: 20px 10px;
}

.menu__title {
    padding: 5px 0px;
    font-family: 'arita-dotum-SemiBold';
    font-size: 12px;
}

.menu__chef-name {
    font-family: 'arita-dotum-medium';
    font-size: 12px;
}

@media screen and (max-width: 1427px){ 

}
    .recent-menu {
        margin: 40px 220px;
    }

    .buffet {
        width: 350px ;
    }
    
    .category__header > div {
        display: inline-block;
        width: 388.500px;
        border-bottom: 1px solid rgb(189, 0, 0);
        padding: 0px 0px;
        margin: 7px 0px;
    }
 }

@media screen and ( max-width: 1391px ) {

    .recent-menu {
        margin: 30px 150px;
    }

    .buffet {
        width: 42.5% ;
    }
    
    .category__header > div {
        display: inline-block;
        width: 388.500px;
        border-bottom: 1px solid rgb(189, 0, 0);
        padding: 0px 0px;
        margin: 7px 0px;
    }
}

@media screen and ( max-width: 1323px ) {

    .recent-menu {
        margin: 30px 80px;
    }

    .buffet {
        width: 42.5% ;
    }
    
    .category__header > div {
        display: inline-block;
        width: 388.500px;
        border-bottom: 1px solid rgb(189, 0, 0);
        padding: 0px 0px;
        margin: 7px 0px;
    }
}

@media screen and ( max-width: 1253px ) {

    .recent-menu {
        margin: 30px 100px;
    }

    .buffet {
        width: 42.5% ;
    }
    
    .category__header > div {
        display: inline-block;
        width: 388.500px;
        border-bottom: 1px solid rgb(189, 0, 0);
        padding: 0px 0px;
        margin: 7px 0px;
    }
}

@media screen and ( max-width: 1100px ) {

    .recent-menu {
        margin: 30px 90px;
    }

    .buffet {
        width: 42.5% ;
    }
    
    .category__header > div {
        display: inline-block;
        width: 388.500px;
        border-bottom: 1px solid rgb(189, 0, 0);
        padding: 0px 0px;
        margin: 7px 0px;
    }
}

.main-logo {
    display: none;
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 180px;
    left: 5px;
    margin: 0px;
    top: 70px;
}

@media screen and ( max-width: 1095px ) {

    .main-logo {
        display: inline-block;
        width: 70px;
        height: 70px;
        position: fixed;
        bottom: 180px;
        left: 5px;
        margin: 0px;
        top: 70px;
    }

    .nav--x {
        display: none;
        width: 22px;
        height: 22px;
        position: fixed;
        /* bottom: 180px; */
        top: 65px;
        left: 30px;
        z-index: 1;
    }

    .recent-menu {
        margin: 30px 50px;
    }

    .buffet {
        width: 42.5% ;
    }
    
    .category__header > div {
        display: inline-block;
        width: 388.500px;
        border-bottom: 1px solid rgb(189, 0, 0);
        padding: 0px 0px;
        margin: 7px 0px;
    }
}



 
@media screen and ( max-width: 982px ) {
    .nav--x {
        display: none;
        width: 22px;
        height: 22px;
        position: fixed;
        /* bottom: 180px; */
        top: 65px;
        left: 30px;
        z-index: 1;
    }

    .main-logo {
        display: inline-block;
        width: 70px;
        height: 70px;
        position: fixed;
        bottom: 180px;
        left: 5px;
        margin: 0px;
        top: 70px;
    }

    .recent-menu {
        margin: 30px 40px;
    }

    .buffet {
        width: 42.5% ;
    }
    
    .category__header > div {
        display: inline-block;
        width: 388.500px;
        border-bottom: 1px solid rgb(189, 0, 0);
        padding: 0px 0px;
        margin: 7px 0px;
    }
}

.hidden {
    display: none;
}

.show {
    display: inline-block;
}

@media screen and ( min-width: 1095px ) {
    .nav--x {
        display: none;
        width: 22px;
        height: 22px;
        position: fixed;
        /* bottom: 180px; */
        top: 65px;
        left: 30px;
        z-index: 1;
    }
}

@media (max-width:1520px) and (min-width:1323px) {
    .category__header > div {
        display: inline-block;
        width: 388.500px;
        border-bottom: 1px solid rgb(189, 0, 0);
        padding: 0px 0px;
        margin: 7px 0px;
    }
}