{% extends 'base.html' %}
{% block content %}
    <main>
        <div class="mainContainer">
            <div class="mainContainer__title">
                <span>비밀번호 찾기</span>
            </div>

            <div class="mainContainer__findPassword">
                <form method="POST"action="{% url 'findPassword'%}%">
                    {% csrf_token %}
                        <ul>
                            <li><input class="mainContainer__findPassword_id"type="text" placeholder="ID"></li>
                            <div class="mainContainer__findPassword_check1">
                                <li><input class="mainContainer__findPassword_phoneNum" type="text" placeholder="Phone Number"></li>
                                <li><input class="mainContainer__findPassword_sendButton"type="button" value="인증번호 전송"></li>
                            </div>
                            <div class="mainContainer__findPassword_check2">
                                <li><input class="mainContainer__findPassword_CertificationNum" type="text" placeholder="Certification Number"></li>
                                <li><input class="mainContainer__findPassword_sendButton"type="button" value="인증하기"></li>
                            </div>
                            <li><input class="mainContainer__findPassword_sendPassword"type="button" value="임시 비밀번호 전송"></li>
                        </ul>
                    </form>
            </div>
        </div>
    </main>

{% endblock %}