{% extends 'base.html' %}
{% block content %}
    <form name="registerChef_1" action="{% url 'registerChef' '2' %}" method="POST" >
    {% csrf_token %}
        <div id="regiFrmWrap">
            <!-- section header -->
            <section class="regiChefSection__header">
                <div class="regiChefSection__headerContainer">
                    <h2>셰프 등록</h2>
                </div>
            </section>

            <div class="regiContent">
                <div class="regiContentContainer">
                    <!-- 셰프 등록 nav -->
                    <ul class="regiContent__navContainer">
                        <li class="regiContent__navItem">
                            <a href="#">셰프 소개</a>
                        </li>
                        <li class="regiContent__navItem">
                            <a href="">예약글 등록</a>
                        </li>
                        <li class="regiContent__navItem">
                            <a href="">출장비 등록</a>
                        </li>
                    </ul>
                    <!-- // 셰프 등록 nav -->

                    <!-- 셰프등록 셰프 정보 추가 main -->
                    <section class="chefRegifirst">
                        <article class="chefRegifirst__title">
                            <h3>셰프님에 대한 소개를 작성해주세요!</h3>
                            <p>첫 번째 예약에서만 작성하는 페이지입니다.</p>
                            <input name="title" type="text">
                            <!-- !!!!진행상황 바 추가하기 -->
                            <div></div>
                        </article>

                        <!-- 셰프 번호 인증 -->
                        <article class="chefRegifirst__input">
                            <div class="chefRegifirst__input__chefPhoneNum">
                                <!-- !!!! 만약 유저의 폰번호가 등록되어 있다면 -->
                                <!-- !!!! {% comment %} chefPhoneNum이 등록되어 있다면 폰 번호 chefPhoneNum__input--left value에 넣기 {% endcomment %} -->
                                <input name="phoneNum" type="int" class="chefPhoneNum__input--left" placeholder="번호를 입력해주세요." value="{{chef.chefPhoneNum}}">
                                <button type="button" class="buttonSubmit">확인</button>
                            </div>
                        </article>
                        <!-- // 셰프 번호 인증 -->

                        <!-- 프로필 사진 등록 -->
                        <!-- !!!! 수정 필요 -->
                        <article class="chefRegifirst__input">
                            <div class="chefRegifirst__input__chefProfile">
                                <h4 class="chefProfile__title">프로필 사진 </h4>
                                <div class="chefProfile__container">
                                    <div class="chefProfile__img">
                                        <input name="profileImage" type="image">
                                    </div>
                                </div>
                            </div>
                            <p class="notice_msg">반드시 셰프님의 얼굴을 확인할 수 있는 사진으로 등록해주세요! (배경, 동물, 뒷모습 등의 사진은 승인이 불가합니다.)</p>
                        </article>
                        <!-- !!!! 수정 필요 -->
                        <!-- // 프로필 사진 등록 -->

                        <!-- 닉네임 등록 -->
                        <article class="regiMainInput">
                            <h4>닉네임</h4>
                            <div class="regiMainInput__nickname">
                                <input name="nickname" type="text" placeholder="사용하실 닉네임을 입력해주세요.">
                            </div>
                        </article>
                        <!-- // 닉네임 등록 -->

                        <!-- 이력 입력 -->
                        <article class="regiMainInput">
                            <div class="regiMainInput__title">
                                <h4>이력</h4>
                                <p>셰프님과 메뉴에 대한 정보를 알 수 있는 이력을 입력해주세요!</p>
                            </div>
                            <input name="spec" type="text">
                        </article>
                        <!-- // 이력 입력 -->

                        <!-- 소셜미디어 -->
                        <article class="regiMainInput">
                            <h4>소셜 미디어</h4>
                            <div class="regiMainInput__instagram">
                                <input name="instagram" type="text" placeholder="인스타그램 아이디">
                            </div>
                            <div class="regiMainInput__blog">
                                <input name="blog" type="text" placeholder="유튜브 주소">
                            </div>
                            <div class="regiMainInput__facebook">
                                <input name="facebook" type="text" placeholder="페이스북 주소">
                            </div>
                        </article>
                        <!-- // 소셜미디어 -->
                    </section>
                    <!-- // 셰프등록 셰프 정보 추가 main -->
                </div>
            </div>

            <!-- 다음 버튼 -->
            <aside class="button">
                <div class="submitBtn"><a href="{% url 'registerChef' '2' %}">다음</a></div>
            </aside>
            <!-- // 다음 버튼 -->
        </div>
    </form>


{% endblock %}