{% extends 'base.html' %}
{% block content %}
    <form name="regiFrmChefIntro" action="">
        <div id="regiFrmWrap">
            <!-- section header -->
            <section class="regiChefSection__header">
                <div class="regiChefSection__headerContainer">
                    <h2>셰프 등록</h2>
                </div>
            </section>

            <div class="regiContent">
                <div class="regiContentContainer">
                    <!-- 셰프 등록 nav -->
                    <ul class="regiContent__navContainer">
                        <li class="regiContent__navItem">
                            <a href="#">셰프 소개</a>
                        </li>
                        <li class="regiContent__navItem">
                            <a href="">예약글 등록</a>
                        </li>
                        <li class="regiContent__navItem">
                            <a href="">출장비 등록</a>
                        </li>
                    </ul>
                    <!-- // 셰프 등록 nav -->

                    <section class="chefRegifourth">
                        <article class="chefRegifourth__title">
                            <h3>마지막으로 출장비를 입력해주세요!</h3>
                            <p>코스 비용과 함께 고객이 지불할 금액입니다.</p>
                            <div></div><!-- !!!!진행상황 바 추가하기 -->
                        </article>

                        <article class="chefRegifourth__priceContainer">
                            <!-- 출장비 입력 -->
                            <div class="priceArea">
                                <div class="priceArea__movingPrice">
                                    <h4>출장비</h4>
                                    <input type="text" placeholder="\ (입력)">
                                    <span class="unit">원</span>
                                </div>

                                <span class="plus">+</span>

                                <div class="priceArea__coursePerPrice">
                                    <h4>코스별 금액</h4>
                                    <select name="" id="">
                                        {% for in courses %}<!-- !!!!백에서 지정 필요: 셰프가 등록한 코스 불러오기 -->
                                        <option value="">{{course.title}}</option><!-- !!!!백에서 지정 필요: 코스 이름 -->
                                        {% endfor %}
                                    </select>
                                    <span class="unit">원</span>
                                </div>

                                <span class="plus">=</span>
                                
                                <div class="priceArea__totalPrice">
                                    <h4>최종 금액</h4>
                                    <input type="text" placeholder="(자동계산)" disabled><!-- !!!! 수정 필요 : 자동계산 -->
                                    <span class="unit">원</span>
                                </div>
                            </div>
                            <!-- // 출장비 입력 -->
                        </article>

                        <article class="priceArea__finalPrice">
                            <h3 class="">최종 정산금 안내</h3>
                            <p>예약 일정 1회에 셰프님에게 마지막으로 정산될 금액입니다.</p>
                        </article>

                        <!-- 최종 정산금 안내 -->
                        <article class="priceInfo__final">
                            <div class="priceArea">
                                <div>
                                    <h4 class="priceArea__title">최종 금액</h4>
                                    <input class="priceArea__input" type="text" placeholder="(자동계산)" disabled><!-- !!!! 수정 필요 : 자동계산 -->
                                    <span class="unit">원</span>
                                </div>
                                <div>
                                    <h4 class="priceArea__title">VAT 10%</h4>
                                    <input class="priceArea__input" type="text" placeholder="(자동계산)" disabled><!-- !!!! 수정 필요 : 자동계산 -->
                                    <span class="unit">원</span>
                                </div>
                                <div>
                                    <h4 class="priceArea__title">서비스 수수료</h4>
                                    <input class="priceArea__input" type="text" placeholder="(자동계산)" disabled><!-- !!!! 수정 필요 : 자동계산 -->
                                    <span class="unit">원</span>
                                </div>
                            </div>
                            <div class="priceTotal">
                                <h4 class="priceTotal__title">서비스 수수료</h4>
                                    <input class="priceTotal__input" type="text" placeholder="(자동계산)" disabled><!-- !!!! 수정 필요 : 자동계산 -->
                                    <span class="unit">원</span>
                            </div>
                        </article>
                        <!-- // 최종 정산금 안내 -->
                    </section>
                    <!-- 이전, 제출 버튼 -->
                    <aside class="button">
                        <div class="submitBtn"><a href="">제출</a></div>
                        <div class="previousBtn"><a href="{% url 'registerChef_third' %}">이전</a></div>
                    </aside>
                    <!-- // 이전, 제출 버튼 -->

                </div>
            </div>
        </div>
    </form>
{% endblock %}