{% extends 'base.html' %}
{% load static %}
{% block style %}    <link rel="stylesheet" href="{% static 'css/editChefProfile_2.css' %}">
{% endblock %}
{% block content %}
    <form name="registerChef_2" method="POST" action="{% url 'registerChef' '3' %}">
    {% csrf_token %}
        <div class="edit-chef-wrapper">
            {% include 'registerChef_side.html' %}
                <div class="edit-content">                
                    <section class="category-region">
                        <article class="register-header">
                            <h3>예약글을 등록해 주세요!</h3>
                            <div class="status-bar-wrapper" style="width: 100%;">
                                <div class="status-bar" style="width: 55%"> </div>
                            </div>
                        </article>

                        <!-- 음식 카테고리 지정 -->
                        <article class="category__wrapper">
                            <h4 class="article-title">카테고리</h4>
                            <select name="category" value="{{post.category|default:""}}">
                                <option value="none">선택하세요.</option>
                                <option value="1">뷔페/케이터링</option>
                                <option value="2">한식</option>
                                <option value="3">일식</option>
                                <option value="4">중식</option>
                                <option value="5">아시안</option>
                                <option value="6">양식</option>
                                <option value="7">채식</option>
                            </select>
                        </article>
                        <!-- // 음식 카테고리 지정 -->

                        <!-- 지역 설정 -->
                        <article class="region-wrapper">
                            <h4 class="article-title">지역 선택 </h4>
                            <select name="region" value="{{post.region|default:""}}">
                                <option value="none">선택하세요.</option>
                                <option value="1">서울</option>
                                <option value="2">경기</option>
                                <option value="3">인천</option>
                                <option value="4">부산</option>
                                <option value="5">경상, 대구, 울산</option>
                                <option value="6">대전, 충청</option>
                                <option value="7">강원</option>
                                <option value="8">광주, 전라, 제주</option>
                            </select>
                            <!-- !!!!지역 추가 버튼 : 자바스크립트로 추가버튼 누르면 바로 위에 저장항목 뜨게 수정하기 -->
                            <div class="add-button">
                                <button type="submit">+</button>
                            </div>
                            <!-- // !!!!지역 추가 버튼 : 자바스크립트로 추가버튼 누르면 바로 위에 저장항목 뜨게 수정하기 -->
                        </article>
                        <!-- // 지역 설정 -->
                    </section>

                    <!-- 이전, 다음 버튼 -->
                    <aside class="button">
                        <button class="after-button" id="submitButton">다음</button>
                        <button class="before-button" id="submitButton">이전</button>
                    </aside>
                    <!-- // 이전, 다음 버튼 -->
            </div>
        </div>
    </form>

{% endblock %}

{% block scripts %}
<script>
    function loadSelector(selectorNode) {
        const selectorValue = selectorNode.getAttribute("value") || null
        if (selectorNode.getAttribute("value")) {
            const options = selectorNode.querySelectorAll("option");
            options[parseInt(selectorValue)].setAttribute("selected", "");
        }
    }
    const categorySelector = document.querySelector("select[name=category]");
    const regionSelector = document.querySelector("select[name=region]");
    loadSelector(categorySelector)
    loadSelector(regionSelector)
</script>
{% endblock %}