{% extends 'base.html' %}
{% block content %}


    <form name="registerChef_2" method="POST" action="{% url 'registerChef' '3' %}">
    {% csrf_token %}
        <div id="regiFrmWrap">>
        <div id="regiFrmWrap">
            <!-- section header -->
            <section class="regiChefSection__header">
                <div class="regiChefSection__headerContainer">
                    <h2>셰프 등록</h2>
                </div>
            </section>

            <div class="regiContent">
                <div class="regiContentContainer">
                    <!-- 셰프 등록 nav -->
                    <ul class="regiContent__navContainer">
                        <li class="regiContent__navItem">
                            <a href="">셰프 소개</a>
                        </li>
                        <li class="regiContent__navItem">
                            <a href="#">예약글 등록</a>
                        </li>
                        <li class="regiContent__navItem">
                            <a href="">출장비 등록</a>
                        </li>
                    </ul>
                    <!-- // 셰프 등록 nav -->

                    <!-- 셰프등록 셰프 정보 추가 main -->
                    <section class="chefRegiMain">
                        <article class="chefRegiMain__header">
                            <h3>예약글을 등록해 주세요!</h3>
                            <!-- !!!!진행상황 바 -->
                            <div></div>
                            <!-- // !!!!진행상황 바 -->
                        </article>

                        <!-- 음식 카테고리 지정 -->
                        <!-- !!!! option value 값 수정  -->
                        <div class="formTitle">
                            카테고리
                        </div>
                        <select name="category" >
                            <option value="none">선택하세요.</option>
                            <option value="">전체보기</option><!-- 백 모델 추가 ? -->
                            <option value="1">뷔페/케이터링</option>
                            <option value="2">한식</option>
                            <option value="3">일식</option>
                            <option value="4">중식</option>
                            <option value="5">아시안</option>
                            <option value="6">양식</option><!-- 백 모델 추가? -->
                            <option value="7">채식</option>
                        </select>
                        <!-- // 음식 카테고리 지정 -->

                        <!-- 지역 설정 -->
                        <div class="formTitle">
                            지역 선택
                        </div>
                        <select name="region" >
                            <option value="none">선택하세요.</option>
                            <option value="0">추후 결정</option>
                            <option value="1">서울</option>
                            <option value="2">경기</option>
                            <option value="3">인천</option>
                            <option value="4">부산</option>
                            <option value="5">경상, 대구, 울산</option>
                            <option value="6">대전, 충청</option>
                            <option value="7">강원</option>
                            <option value="8">광주, 전라, 제주</option>
                        </select>
                        <!-- !!!!지역 추가 버튼 : 자바스크립트로 추가버튼 누르면 바로 위에 저장항목 뜨게 수정하기 -->
                        <div class="addBtn">
                            <button type="submit">+</button>
                        </div>
                        <!-- // !!!!지역 추가 버튼 : 자바스크립트로 추가버튼 누르면 바로 위에 저장항목 뜨게 수정하기 -->
                        <!-- // 지역 설정 -->
                    </section>

                    <!-- 이전, 다음 버튼 -->
                    <aside class="button">
                        <div class="submitBtn">이전</div>
                        <div class="previousBtn">다음</div>
                    </aside>
                    <!-- // 이전, 다음 버튼 -->
                </div>
            </div>
        </div>
    </form>

{% endblock %}