{% extends 'base.html' %}
{% block content %}
    <main>
    <!-- 아이디 찾기 -->
        <div class="mainContainer">
            <div class="mainContainer__title">
                <span>아이디 찾기</span>
            </div>
            <!-- 아이디 찾기 양식 -->
            <div class="mainContainer__findId">
                <form method="POST" action="{% url 'findId.html' %}">
                    {% csrf_token %}
                    <ul>
                        <li><input class="mainContainer__findId_nickname" name="userNickname" type="text" placeholder="Nickname"></li>
                        <div class="mainContainer__findId_check1">
                            <li><input class="mainContainer__findId_phoneNum" name="phoneNum"type="text" placeholder="Phone Number"></li>
                            <li><input class="mainContainer__findId_sendButton" type="submit" value="인증번호 전송"></li>
                        </div>
                        <div class="mainContainer__findId_check2">
                            <li><input class="mainContainer__findId_CertificationNum" type="text" placeholder="Certification Number"></li>
                            <li><input class="mainContainer__findId_sendButton" type="submit" value="인증하기"></li>
                        </div>
                        <li><input class="mainContainer__findId_sendId" type="submit" value="아이디 전송"></li>
                    </ul>
                </form>
            </div>
        </div>
    </main>
{% endblock %}