{% extends 'base.html' %}
{% block content %}

<main>
    <div class="mainContainer">
        <div class="mainContainer__title">
            <span>계정생성</span>
        </div>
        <div class="mainContainer__signup">
            <form method="POST" action="{% url 'signup.html'%}">
                {% csrf_token %}
                <!-- 에러(이미 존재하는 닉네임or비밀번호 재입력 실패)시 해당 에러 출력-->
                {% if error %}
                    <div class="mainContainer__errorBox">
                        <p>{{error}}</p>
                    </div>
                {% endif %}
                <!-- 회원가입 양식 -->
                    <ul>
                        <div class="mainContainer__signup_names">
                            <li><input class="mainContainer__signup_name" name="username" type="text" placeholder="Name"></li>
                            <div class="mainContainer__signup_nickname">
                                <li><input name="userNickname" type="text" placeholder="Nickname"></li>
                                <li><input type="button" value="중복확인"></li>
                            </div>                          
                        </div>
                        <li><input class="mainContainer__signup_emailAdrress" name="userEmail" type="text" placeholder="Email Addrress"></li>
                        <li><input class="mainContainer__signup_password"
                        name="userPassword" type="password" placeholder="Password"></li>
                        <li><input class="mainContainer__signup_passwordCheck"
                        name="userPasswordCheck" type="password" placeholder="Password Check"></li>
                        <li><input class="mainContainer__signup_phoneNum" name="userPhoneNum"type="text" placeholder="Phone Number"></li>
                        <li>
                            <select name="residence">
                                <option value="none">residence</option>
                                <option value="서대문구">서대문구</option>
                                <option value="마포구">마포구</option>
                                <option value="은평구">은평구</option>
                            </select>
                        </li>
                        <li><input class="mainContainer__signup_autoLogin"type="checkbox" vlaue="#">이용약관 동의</li>
                        <li><input class="mainContainer__signup_submit" type="sumit" value="가입완료"></li>
                    </ul>
                </form>
            </div>
        </div>
    </main>


{% endblock %}