{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/customer_account.css' %}">
{% endblock %}
{% block content %}
    <main>
        <!-- 로그인 -->
        <div class="mainContainer">
            <span>로그인</span>
            <!-- 로그인 양식 -->
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <!-- 에러 시 해당 에러 출력 -->
                <!-- 아이디, 패스워드 입력 -->
                <ul class="inputbox">
                    {% if error %}
                        <p class="error">{{error}}</p>
                    {% endif %}
                    <li><input class="inputbox__emailAddress" name="userEmail" type="text" placeholder='이메일 주소'></li>
                    <li><input class="inputbox__password" name="userPassword"type="password" placeholder='비밀번호'></li>
                    <li class="inputbox__checkbox"><input class="inputbox__autoLogin" name="autoLogin" type="checkbox" value="" id="autoLogin"><label for="autoLogin">자동로그인</label></li>
                    <li><input class="mainContainer__submit" name="submit" type="submit" value="로그인"></li>
                </ul>
            </form>
            <!-- 부가 계정관련 페이지로 이동 -->
            <div class="login_help">
                <a href="{% url 'findId'%}"><span>아이디 찾기</span></a>|
                <a href="{% url 'findPw'%}"><span>비밀번호 찾기</span></a>|
                <a href="{% url 'createAccount'%}"><span>회원가입</span></a>
            </div>
        </div>
    </main>    
{% endblock %}