{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/myMenu_reservation.css' %}">
{% endblock %}
{% block content %}
    <div class="my-menu">
        <section class="my-menu__reservation">
            {% include 'customer_side.html' %}
            <section class="my-menu-content">
                {% if not posts %}
                    <!-- 좋아요 메뉴 없을 때 -->
                    <article class="my-menu__none">
                        <h4>찜한 셰프가 없습니다.</h4>
                        <h3>마음에 드는 세프를 저장해보세요!</h3>
                        <a href="/postList" class="{% if category == 0 %} currentCategory{% endif %}">셰프 구경하러 가기</a>
                    </article>
                    <!-- // 좋아요 메뉴 없을 때 -->
                    <!-- 좋아요 메뉴 정보 -->
                    {% else %}
                    {% for post in posts %}
                    <div class="content__menu-info">
                        <div class="menu-info-wrapper">
                            <div class="content__image-wrapper">
                                <img style="width: 180px; height: 150px;" src="{{post_cover_imgurl}}" alt=""><!-- 수정 필요 -->
                            </div>
                            <div class="content__description">
                                <h4>{{post.title}}</h4>
                                <h3>{{post.chef.nickname}} 셰프님</h3>
                                <p>{{post.introduce}}</p>
                            </div>
                        </div>
                        <input type="button" class="fillLike" name="likeBtn">
                        <aside class="button">
                            <button class="detail-page-button button--gray" onclick="location.href = 'public/detail/{{book.post.id}}';">상세페이지</button>
                        </aside>
                    </div>
                    {% endfor %}
                {% endif %}
            </section>
        </section>
    </div>
                
{% endblock %}

{% block scripts %}
<script>
/*document.getElementsByName('likeBtn')[0].addEventListener('click', postLike);

function postLike(e){
    let formdata = new FormData();
    formdata.append('postId', '{{post.id}}')
    if (e.target.classList.contains('emptyLike')){
        e.target.classList.replace('emptyLike', 'fillLike');
        formdata.append('status', 1);
        sendAjax('POST', '/postLike', ()=>{}, formdata);
    }else{
        e.target.classList.replace('fillLike', 'emptyLike');
        formdata.append('status', 0);
        sendAjax('POST', '/postLike', ()=>{}, formdata);
    }
} */
</script>
{% endblock %}