{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/myMenu_reservation.css' %}">
{% endblock %}
{% block content %}
    <div class="my-menu">
        <section class="my-menu__reservation">
            {% include 'customer_side.html' %}
            <div class="my-menu-content">
                <!-- 등록 메뉴 없을 때 -->
                <article class="my-menu__none">
                    {% if book == None %}
                    <h4>등록된 예약이 없습니다.</h4>
                    <h3>마음에 드는 세프를 예약해주세요!</h3>
                    <a href="/postList" class="{% if category == 0 %} currentCategory{% endif %}">셰프 구경하러 가기</a>
                    {% else %}
                </article>
                <!-- // 등록 메뉴 없을 때 -->
                <!-- 예약한 메뉴 정보 -->
                <form action="" method="">
                    <article class="my-menu__content">
                        {% for book in books %}
                            <div class="content__header">
                                <h4>예약 완료</h4>
                                <div>예약 날짜: {{book.registerDate}}</div>
                            </div>
                            <div class="content__menu-info">
                                <div class="content__image-wrapper">
                                    <img src="" alt=""><!-- 수정 필요 -->
                                    <div>디데이</div><!-- js 수정 필요 -->
                                    <div>예약 완료</div>
                                </div>
                                <div class="content__description">
                                    <h4>{{book.schedule.post.title}}</h4>
                                    <h4>{{book.course.title}}</h4>
                                    <p>{{book.course.description}}</p>
                                </div>
                            </div>
                            {% if book.paymentStatus == 1 %}<!-- 백수정 이후 수정 필요 -->
                                <button>예약 취소</button>
                                {% else %}
                                <button disabled>예약 취소</button>
                            {% endif %}
                            <button>상세 페이지</button>
                        {% endfor %}
                    </article>
                </form>
                <!-- // 예약한 메뉴 정보 -->
                {% endif %}
            </div>
        </section>
    </div>
{% endblock %}