.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}

/* 공통 */

main {
    display: flex;
}

.mainContainer {
    margin: 40px auto;
    height: 100%;
    width : 25%;
    padding: 35px 60px;
    border: 2px solid rgb(0, 0, 0, 0.7);
    border-radius: 20px;
    min-width: 300px;
    max-width: 350px;
    box-shadow: 10px 10px 4px #E6E6E6;
}

.mainContainer__submit {
    width: 100%;
    height: 25px;
    border-radius: 20px;
    background-color: var(--main-color);
    color: white;
    margin-top: 25px;
}

.mainContainer > span {
    font-family: 'Arita-dotum-SemiBold';
    font-size: 20px;
}

.mainContainer > form {
    margin-bottom: 20px;
}

.inputbox{
    margin-top: 60px;
}

.inputbox__checkbox {
    margin-top: 13px;
}

input[type="checkbox"]{
    display:none;
}

input[type="checkbox"] + label{
    font-size: 13px;
    height: 23px;
    line-height: 23px;
    padding-left: 23px; 
    background-repeat: no-repeat;
    background-image: url('../img/whitecheckbox.png');
    background-size: 13px;
}

input[type="checkbox"]:checked + label{
    background-image: url('../img/redcheckbox.png');
}

input[type="checkbox"]:disabled + label{
    background-image: url('../img/whitecheckbox.png');
}

/* login 페이지 */
li > input[type="text"],  li > input[type="password"]{
    width: 100%;
    border-bottom: 2px solid rgb(0, 0, 0, 0.7);
    margin-top: 35px;
    line-height: 20px;
}

.login_help {
    font-size: 12px;
    padding: 0 20px;
    display: flex;
    margin-bottom: 60px;
}

.login_help > a {
    margin: auto;
}

p.error {
    font-size: 12px;
    color: var(--main-color);
    display: inline-block;
    line-height: 20px;
    text-align: center;
    width: 100%;
}

/* customer_signup.html */

.inputbox__duplicateCheck {
    width: 100%;
    margin-top: 35px;
    border-bottom: 2px solid rgb(0, 0, 0, 0.7);
    display: flex;
}

.inputbox__duplicateCheck > :nth-child(1) {
    border: none;
    margin-right: auto;
}

.inputbox__duplicateCheck > :nth-child(1) > input[type="text"]{
    margin: 0;
    border: none;
}

.inputbox__duplicateCheck > :nth-child(2) {
    margin-left: auto;
}

.inputbox__duplicateCheck > :nth-child(2) > input[type="button"] {
    background-color: var(--main-color);
    color: white;
    border-radius: 20px;
    font-size: 12px;
    font-family: 'Arita-dotum-Thin';
    height: 20px;
    width: 80px;
}

select {
    width: 48%;
    border-bottom: 2px solid black;
    margin-top: 35px;
    color: gray;
    font-size: 11px;
}

li > select:first-child {
    margin-right: 2%;
}

.inputbox__checkbox__signup{
    margin: 70px 0 -4px 0;
    z-index: 1;
}

.last__button {
    margin-bottom: 60px;
}

.mainContainer.login {
    margin : 40px auto calc(100vh - 875px) auto;
}

.last__button.signup {
    margin-bottom: 30px;
}