<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
    <link rel="shortcut icon" href="{% static 'image/favicon.ico' %}" type="image/x-icon">
    {% block style %}
    {% endblock %}
</head>
<body>
  <!-- 네브바 -->
  <nav class="nav-container">
    <div class="nav__item nav--left"><a href="{% url 'main' %}">YOCHEF</a></div>
    <div class="nav__item-container nav--middle">
      <div class="nav__item"><a href="{% url 'main' %}">메인페이지</a></div>    
      <ul class="nav__item-container">
        <!-- 로그인 상태라면 -->
        {% if user.is_authenticated %}
          <!-- 셰프등록 돼있다면 -->
          {% if user.customer.isChef %}
            <!-- 셰프버전이라면 -->
            {% if user.customer.currentVer == 1 %}
            <li class="nav__item"><a href="">셰프 정보 관리</a></li>
            <li class="nav__item"><a href="{% url 'logout' %}">로그아웃</a></li>
            <!-- 셰프등록 o & 손님버전이라면 -->
            {% else %}
            <li class="nav__item"><a href="">마이메뉴</a></li>
            <li class="nav__item"><a href="">쿠폰함</a></li>
            {% endif %}
            <a id="currentVer" href="{% url 'changePageVer' %}">버전</a>
          <!-- 셰프등록 안돼있다면 -->
          {% else %}
          <li class="nav__item"><a href="">마이메뉴</a></li>
          <li class="nav__item"><a href="">쿠폰함</a></li>
          <!-- 프론트 참고 - 테스트 위해 임의로 추가하였습니다. -->
          <li class="nav__item"><a href="{% url 'registerChef' '1'%}">셰프등록</a></li>
          {% endif %}
        <li class="nav__item"><a href="{% url 'logout' %}">로그아웃</a></li>
        <!-- 프론트참고 username -> nickname 변경 -->
        <li class="nav__item"><a href="{% url 'mypage' %}">{{user.customer.name}}님</a></li>
        <!-- 로그아웃 상태라면 -->
        {% else %}
        <li class="nav__item"><a href="{% url 'login' %}">로그인</a></li>
        <li class="nav__item"><a href="">아이디/비밀번호 찾기</a></li>
        <li class="nav__item"><a  href="{% url 'signup' %}">회원가입</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>   
  <div class="contents">
    {% block content %}
    {% endblock %}
  </div> 
  <!-- // 네브바 -->
  
  <!-- 푸터 -->
  <footer id="footer">
    <div class="footer-link-container">
      <ul class="footer-container">
        <li><span class="footer-top">COMPANY</span></li>
        <li class="footer-item">company</li>
        <li class="footer-item">company</li>
        <li class="footer-item">company</li>
      </ul>

      <ul class="footer-container">
        <li><span class="footer-top">POLICIES</span></li>
        <li class="footer-item">company</li>
        <li class="footer-item">company</li>
      </ul>

      <ul class="footer-container">
        <li><span class="footer-top">SUPPORT</span></li>
        <li class="footer-item">company</li>
        <li class="footer-item">company</li>
      </ul>

      <ul class="footer-container">
        <li><span class="footer-top">BETWEEN</span></li>
        <li class="footer-item">company</li>
        <li class="footer-item">company</li>
      </ul>

      <ul class="footer-container">
        <li><span class="footer-top">YOCHEF CENTER</span></li>
        <li class="footer-item">company</li>
        <li class="footer-item">company</li>
        <li class="footer-item">company</li>
      </ul>
    </div>

    <div id="footer-bottom">
      <div class="footer-copyright-part">
        Cursus bibendum pellentesque lectus in. Ut amet ut egestas libero tincidunt pellentesque eu.
      </div>

      <div class="footer-bottom-container">
        <ul class="footer-bottom-link-item-container">
          <li class="footer-bottom-link-item"><a href="">이용약관</a></li>
          <li class="footer-bottom-link-item"><a href="">개인정보취급방침</a></li>
          <li class="footer-bottom-link-item"><a href="">환불규정</a></li>
        </ul>
      </div>
    </div>


  </footer>

</body>
<script src="{% static 'js/common.js' %}"></script>
{% block scripts %}
{% endblock scripts %}
</html>