<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
    <link rel="shortcut icon" href="{% static 'image/favicon.ico' %}" type="image/x-icon">
    {% block style %}
    {% endblock %}
</head>
<body>
  <!-- 네브바 -->
  
  <nav class="nav-container">
    <img src="{% static 'image/navlog.jpg' %}" alt="">
    <div class="nav__item nav--left"><a href="{% url 'main' %}">YOCHEF</a></div>
    <!-- 로그인 상태라면 -->
    {% if user.is_authenticated %}
      <!-- 셰프등록 돼있다면 -->
      {% if user.customer.isChef %}
        <!-- 셰프버전이라면 -->
        {% if user.customer.currentVer == 1 %}
        <ul class="nav__item-container nav--middle">
          <li class="nav__item"><a href="{% url 'main' %}">메인페이지</a></li>    
          <li class="nav__item"><a href="{% url 'editChefProfile' %}">셰프 정보 관리</a></li>
          <li class="nav__item"><a href="{% url 'logout' %}">로그아웃</a></li>
        </ul>
        <!-- 셰프등록 o & 손님버전이라면 -->
        {% else %}
        <ul class="nav__item-container nav--middle">
          <li class="nav__item"><a href="{% url 'main' %}">메인페이지</a></li>    
          <li class="nav__item"><a href="">마이메뉴</a></li>
          <li class="nav__item"><a href="">쿠폰함</a></li>
          <li class="nav__item"><a href="{% url 'logout' %}">로그아웃</a></li>
        </ul>
        {% endif %}
        <li class="nav__item nav--right"><a href="{% url 'mypage' %}">{{user.customer.name}} 셰프님</a></li>
        <a class="nav__item nav--right" id="currentVer" href="{% url 'changePageVer' %}">버전</a>
      <!-- 셰프등록 안돼있다면 -->
      {% else %}
      <ul class="nav__item-container nav--middle">
        <li class="nav__item"><a href="{% url 'main' %}">메인페이지</a></li>    
        <li class="nav__item"><a href="">마이메뉴</a></li>
        <li class="nav__item"><a href="">쿠폰함</a></li>
        <li class="nav__item"><a href="{% url 'registerChef' '1'%}">셰프등록</a></li>
        <li class="nav__item"><a href="{% url 'logout' %}">로그아웃</a></li>
      </ul>
      <a class="nav__item nav--right" href="{% url 'mypage' %}">{{user.customer.name}}님</a>
      {% endif %}
    <!-- 로그아웃 상태라면 -->
    {% else %}
    <ul class="nav__item-container nav--middle">
      <li class="nav__item"><a href="{% url 'main' %}">메인페이지</a></li>    
      <li class="nav__item"><a href="{% url 'login' %}">로그인</a></li>
      <li class="nav__item"><a href="">아이디/비밀번호 찾기</a></li>
      <li class="nav__item"><a  href="{% url 'signup' %}">회원가입</a></li>
    </ul>
    {% endif %}
  </nav>
  
  <article class="edit-chef-info-wrapper">
    <h3>셰프 정보 관리</h3>
    <!-- 셰프 프로필 수정 nav -->
    <ul class="regiContent__navContainer">
      <li class="regiContent__navItem"><a href="{% url 'editChefProfile' %}">셰프 정보</a></li>
      <li class="regiContent__navItem"><a href="{% url 'editPost' %}">예약글 수정</a></li>
      <li class="regiContent__navItem"><a href="{% url 'editMovingPrice' %}">출장비 수정</a></li>
      <li class="regiContent__navItem"><a href="{% url 'chefSchedule' %}">예약일정 관리</a></li>
    </ul>
    <!-- // 셰프 프로필 수정 nav -->
  </article>

  <div class="contents">
    {% block content %}
    {% endblock %}
  </div> 
  <!-- // 네브바 -->

  <!-- 푸터 -->
  <footer id="footer">
    <div class="footer-link-container">
      <ul class="footer-container">
        <li><span class="footer-top">COMPANY</span></li>
        <li class="footer-item">company</li>
        <li class="footer-item">company</li>
        <li class="footer-item">company</li>
      </ul>

      <ul class="footer-container">
        <li><span class="footer-top">POLICIES</span></li>
        <li class="footer-item">company</li>
        <li class="footer-item">company</li>
      </ul>

      <ul class="footer-container">
        <li><span class="footer-top">SUPPORT</span></li>
        <li class="footer-item">company</li>
        <li class="footer-item">company</li>
      </ul>

      <ul class="footer-container">
        <li><span class="footer-top">BETWEEN</span></li>
        <li class="footer-item">company</li>
        <li class="footer-item">company</li>
      </ul>

      <ul class="footer-container">
        <li><span class="footer-top">YOCHEF CENTER</span></li>
        <li class="footer-item">company</li>
        <li class="footer-item">company</li>
        <li class="footer-item">company</li>
      </ul>
    </div>

    <!-- <div id="footer-bottom">
      <div class="footer-copyright-part">
        Cursus bibendum pellentesque lectus in. Ut amet ut egestas libero tincidunt pellentesque eu.
      </div>

      <div class="footer-bottom-container">
        <ul class="footer-bottom-link-item-container">
          <li class="footer-bottom-link-item"><a href="">이용약관</a></li>
          <li class="footer-bottom-link-item"><a href="">개인정보취급방침</a></li>
          <li class="footer-bottom-link-item"><a href="">환불규정</a></li>
        </ul>
      </div>
    </div> -->
  </footer>

</body>
<script src="{% static 'js/common.js' %}"></script>
{% block scripts %}
{% endblock scripts %}
</html>