{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/registerChef_side.css' %}">
{% endblock %}
  <!-- section header -->
  <section class="header-wrapper">
      <h2>셰프 등록</h2>
  </section>

  <div class="content-wrapper">
    <!-- 셰프 프로필 수정 nav -->
    <ul class="register-chef__nav">
        <li class="register-chef__nav-item"><a href="{% url 'registerChef' '1' %}">셰프소개</a></li>
        <li class="register-chef__nav-item"><a href="{% url 'registerChef' '2' %}">예약글 등록</a></li>
        <li class="register-chef__nav-item"><a href="{% url 'registerChef' '4' %}">출장비 관리</a></li>
    </ul>
    <!-- // 셰프 프로필 수정 nav -->