article {
    margin-bottom: 30px;
}

.chef-schedule-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px 250px;
}

.edit-schedule {
    width: fit-content;
}

.header-container {
    display: block;
    width: 100%;
}

 h3 {
    font-family: 'Arita-dotum-medium';
    display: inline-block;
    padding: 10px 0px;
    font-size: 16px;
}

.post-content {
    width: 100%;
    display: block;
    padding: 15px 0px;
    border-top: #e6e6e6 solid 0.5px;
    border-bottom: #e6e6e6 solid 0.5px;;
}

.post-register-time {
    font-size: 12px;
    color: #929292;
    padding: 10px 0px;
    display: inline-block;
}

.post-container > div {
    padding: 8px 0px;
}

.post__title {
    font-family: 'aRITA-DOTUM-SEMIBOLD';
}

.post__title::before {
    content: "예약글 ";
    color: #929292;
    padding-right: 25px;
    font-size: 12px;
    font-family: 'aRITA-DOTUM-SEMIBOLD';
}

.moving-price {
    font-family: 'aRITA-DOTUM-SEMIBOLD';
}

.moving-price::before {
    content: "출장비";
    color: #929292;
    padding-right: 30px;
    font-size: 12px;
    font-family: 'aRITA-DOTUM-SEMIBOLD';
}

.moving-price::after {
    content: "원";
    padding-left: 10px;
}

.date-filter-wrapper {
    width: 100%;
    margin-top: 40px;
}

.date-filter {
    width: 100%;
    margin: 30px 0px 10px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}

input {
    width: 100%;
    font-size: 11px;
}

.add-button {
    background-color: white;
    border: #E6E6E6 solid 0.5px;
    border-radius: 5px;
    color: #929292;
    padding: 7px 5px;
    width: 260.625px;
    margin: 5px 0px;
    font-size: 10px;
}

.date-filter__start-date,
.date-filter__end-date {
    border: #e6e6e6 solid 0.5px;
    border-radius: 5px;
    display: inline-block;
    padding: 5px 0px;
    width: 200px;
    margin: 0px 15px;
}

.date-filter__start-date > input,
.date-filter__end-date > input {
    width: 90%;
    padding: 0px 5px;
}

.search-button {
    padding: 5px;
    width: 40px;
    height: 32px;
    border: none;
    background-color: #bd0000;
    border-radius: 5px;
}

.search--image {
    width: 16px;
    height: 16px;
    padding-top: 2px;
}

table {
    width: 100%;
}
/* 
.schedule-list__total-cotainer {
    width: 100%;
    display: flex;
    flex-direction: row;
} */

.schedule-list__header,
.schedule-register__header > h3 {
    display: inline-block;
    padding: 10px 0px;
    margin: 8px;
    border-bottom: #e6e6e6 solid 0.5px;
}

.schedule-list-wrapper {
    border: #e6e6e6 solid 0.5px;
    border-radius: 5px;
    display: inline-block;
    width: 100%;
    margin: 30px 0px;
}

tbody {
    width: 100%;
}

.list-header-container {
    width: 100%;
    /* display: flex;
    flex-direction: row;
    justify-content: space-around; */
}

.list-item, td {
    display: inline-block;
    padding: 5px;
    font-size: 12px;
    font-family: 'Arita-dotum-medium';
}

th {
    font-family: 'Arita-dotum-SemiBold' !important;
}

tr {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Arita-dotum-medium';
}

tr {
    text-align: center;
    height: 40px;
    border-bottom: 1px solid black;
}

.td-date {
    width: 45px;
}

.td-region {
    width: 82px;
}

.schedule-register__header {
    width: 100%;
    margin-bottom: 20px;
}

.schedule-register__title > h3 {
    margin: 0px;
}

.schedule-register__header {
    display: inline-flex;
    flex-direction: column;
    justify-content: start;
}

.schedule-register__header > div {
    display: flex;
    flex-direction: row;
}

.schedule-register__header > div > img {
    width: 15px;
    height: 15px;
    padding: 4px 10px;
    display: inline-block;
}

.notice--after {
    position: relative;
    top: 5px;
    display: inline-block;
    color: #929292;
    font-size: 12px;
}

.schedule-register-form {
    width: 100%;
    margin: 0px 8px;
    flex-direction: column;
    padding: 0px 0px 15px;
    border-bottom: #e6e6e6 solid 0.5px;
}

.region__title,
.date__title,
.time__title {
    margin-top: 20px;
    padding-bottom: 6px;
}

.form__region,
.form__date,
.form__time {
    margin: 0px 0px 20px;
}

.form__date {
    display: flex;
    flex-direction: column;
}

.region__select-container,
.date__select-container,
.time__select-container {
    border: #e6e6e6 solid 0.5px;
    border-radius: 5px;
    display: inline-block;
    padding: 5px;
    width: 40%;
    margin-bottom: 5px;
}

.time__title::after {
    content: "* 선택사항입니다.";
    display: inline-block;
    color: #929292;
    font-size: 12px;
    margin-left: 10px;
}

select {
    width: 100%;
    font-size: 11px;
}