.default-image {
    width: 90px;
    height: 67.5px;
    padding: 45px 60px;
}

.register__article-title {
    margin-top: 30px;
}

.article-title--top {
    margin-bottom: 6px;
}

.edit-chef__post {
    margin-top: 50px;
}

.post-title__content {
    width: 90%;
    height: ;
}

/* .content-wrapper > section {
    margin-top: 20px;
} */

.chefRegiMain__header {
    padding: 20px 20px 10px;
}


section > [class*=-wrapper] {
    padding: 30px 0px 0px;
}

section > [class*=__wrapper] {
    padding: 30px 0px 0px;
}

section > .category__wrapper {
    padding: 0px
}

input, textarea, option {
    width: 100%;
    border: none;
    padding: 2px 1px;
    font-size: 12px;
}

.region-selection-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-bottom: 5px;
}

.region-wrapper {
    width: 100%;
    /* margin: 0px 8px; */
    flex-direction: column;
    padding: 0px 0px 15px;
}

.delete-region {
    background-color: white;
    border: none;
    display: inline-block;
}

.delete-region > img{
    padding: 3px;
    width: 20px; 
    height: 20px;
}

.category-region__header,
.post__header {
    font-family: 'Arita-dotum-semibold';
    border-bottom: #E6E6E6 solid 0.5px;
    padding: 10px 0px;
    font-size: 16px;
    display: inline-block;
}

select {
    border: #E6E6E6 solid 0.5px;
    width: 250px;
    padding: 8px 5px;
    border-radius: 5px;
    font-size: 11px;
    margin-right: 5px;
}

.region-add-button {
    background-color: #bd0000;
    border-radius: 5px;
    color: #E6E6E6;
    width: 506px;
    height: 25px;
    border: none;
    margin-top: 5px;
    display: inline-block;
}

.textarea-wrapper {
    border: #E6E6E6 solid 0.5px;
    padding: 5px;
    margin: 6px 0px;
    border-radius: 5px;
    height: 200px;
}

.textarea-wrapper > textarea {
    display: inline-block;
    overflow: visible;
    height: 100%;
}

.post-image-wrapper > .input-wrapper {
    width: 200px;
    height: 150px;
}

/* input 버튼 숨김 */
.post-image__content {
    opacity: 0%;
    position: relative;
    bottom: 150px;
    right: 0px;
    width: 100%;
    height: 100%;
}

.post-image-wrapper > h4::after {
    content: "* 4:3 비율을 추천합니다!";
    font-size: 12px;
    padding: 10px 10px;
    color: #9e9e9e;
    font-family: 'Arita-dotum-medium';
}

.postCoverImage {
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.chef-intro__header > h4::after {
    content: "* 경력, 자격증, 메뉴 등 셰프님에 대한 구체적인 정보를 알려주세요!";
    font-size: 12px;
    padding: 10px 10px;
    color: #9e9e9e;
    font-family: 'Arita-dotum-medium';
}

.course__header > h4::after {
    content: "메뉴 구성과 요리에 대한 구체적인 정보를 알려주세요!";
    font-size: 12px;
    padding: 10px 10px;
    color: #9e9e9e;
    font-family: 'Arita-dotum-medium';
}

.course__content {
    border: #E6E6E6 solid 0.5px;
    border-radius: 5px;
    padding: 10px;
    margin: 6px 0px 30px;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.course__info {
    flex-grow: 1;
}

.course__delete {
    width: 15px;
    height: 15px;
    border: none;
    background-color: white;
}

.course__delete > img {
    position: relative;
    bottom: 5px;
    right: 0px;
    width: 10px;
    height: 10px;
}

.course__content > h4 {
    color: #9e9e9e;
    margin: 8px 0px 0px;
    padding: 0px;
    font-size: 12px;
}

.course__info > .input-wrapper {
    margin-bottom: 25px;
    border: #E6E6E6 solid 0.5px;
    border-radius: 5px;
}

.course-add-button {
    width: 100%;
    border: none;
    background-color: #bd0000;
    color: white;
    font-family: 'Arita-dotum-Medium';
}

/* 코스 사진 추가 input, 이미지  */
.course-image {
    border: #E6E6E6 solid 0.5px;
    border-radius: 5px;
    width: 105px;
    height: 105px;
    margin-right: 5.4px;
    margin-bottom: 5.4px;
}

.course-image-add {
    border: #E6E6E6 solid 0.5px;
    border-radius: 5px;
    width: 120px;
    height: 120px;
}

.course__img-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 14px 0px;
    border: #e6e6e6 solid 0.5px;
    border-radius: 5px;
    margin-top: 6px;
}

.profile__img-container {
    display: inline-block;
    height: 20px;
}

.course__img-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: auto;
    width: 560px;
    flex-wrap: wrap;
}

.course__img-container > img {
    width: 105px;
    height: 105px;
    margin-right: 5px;
    border: solid 0.5px #e6e6e6;
    border-radius: 5px;
}

.course-image__content {
    width: 105px;
    height: 101px;
    opacity: 00%;
    position: absolute;
}

.course-image__content:hover {
    border: #bd0000 solid 0.5px;
}

/* .course__image-input {
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 120px;
    opacity: 0%;
    background-color: blue;
} */

.course-image-add {
    margin: 0px 5px;
}

.more--button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    right: 35px;
    bottom: 5px;
}

.add-image-button {
    position: relative;
    left: 10px;
    top: 10px;
}

#file-upload-button {
    opacity: 0%;
    position: relative;
    top: -80px;
    right: 140px;
    width: 100px;
    height: 100px;
}

.course-add-button {
    border: none;
    width: 100%;
    background-color: #bd0000;
    color: white;
    font-family: 'Arita-dotum-Medium';
    padding: 5px;
    border-radius: 5px;
}



